// Fonts and colors

$primaryColor: #f58220;
$navTab: #566b78;
$background: #fefefe;

// Flex Nav

@mixin navGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@mixin alignLeft {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

// Main

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gutter {
  width: 70%;
  margin: auto;
  max-width: 70%;
}

// Header

.upper-nav {
  height: 10vh;
}

.login-items ul {
  @include alignLeft();
  padding: 20px 5px;
}

.menu ul {
  @include navGrid();
  background: $primaryColor;
}

.menu ul li {
  padding: 25px 20px;
  text-align: center;
  white-space: nowrap;
}

.menu ul li a {
  color: #fff;
  padding: 1rem;
}

ul li {
  list-style-type: none;
  margin: 0 10px;
}

li a {
  text-decoration: none;
}

// Main Content

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// Product Grid

.product-content {
  height: 100vh;
}

// Resources

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
