*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.gutter {
  width: 1500px;
  margin: auto;
  max-width: 1500px;
}

.inner-gutter {
  width: 90%;
  margin: auto;
  max-width: 90%;
}

.upper-nav {
  height: 10vh;
}

.login-header {
  margin-bottom: 0px;
}

.menu-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.login-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.login-items ul li {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  line-height: 30px;
  background: #566b78;
}

.login-items ul li :hover {
  background: #45545e;
}

.home-border {
  border-right: solid #fff 1px;
}

.login-items ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1rem;
  height: 100%;
  color: #fff;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu ul li {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  line-height: 50px;
  background: #f58220;
}

.menu ul li :hover {
  background: #df7416;
}

.menu ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1rem;
  height: 100%;
  color: #fff;
}

.menu ul li a i {
  font-size: 0.6rem;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
}

.main-logo {
  width: 300px;
  height: auto;
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container-search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.container-input .search-term {
  max-width: 585px;
  width: 100%;
  background-color: white;
  border: 2px solid #f58220;
  border-right: none;
  color: #f58220;
  padding: 5px 5px 5px 25px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  -webkit-appearance: none;
  caret-color: #f58220;
  font-size: 20px;
}

.container-input .search-term::-webkit-calendar-picker-indicator {
  display: none;
}

.container-input .search-term:focus {
  color: #f58220;
}

.container-input .search-term::-webkit-input-placeholder {
  color: #2f91b6;
  font-weight: italic;
  opacity: 0.5;
}

.container-input .search-term:-ms-input-placeholder {
  color: #2f91b6;
  font-weight: italic;
  opacity: 0.5;
}

.container-input .search-term::-ms-input-placeholder {
  color: #2f91b6;
  font-weight: italic;
  opacity: 0.5;
}

.container-input .search-term::placeholder {
  color: #2f91b6;
  font-weight: italic;
  opacity: 0.5;
}

.container-input .search-button {
  width: 70px;
  height: auto;
  background: white;
  text-align: center;
  color: #f58220;
  border-radius: 0 5px 5px 0;
  border: 2px solid #f58220;
  cursor: pointer;
  font-size: 25px;
  border-left: none;
}

.phone {
  margin-right: 5px;
}

.phone :hover {
  color: #f58220;
}

.phone a {
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  color: #45545e;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.product-content {
  display: inline-block;
  background: #fefefe;
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[4];
      grid-template-columns: repeat(4, 2fr);
  grid-gap: 20px;
  border: solid rgba(0, 0, 0, 0.2) 0.5px;
}

.product {
  margin: 20px;
}

.product img {
  display: block;
}

.product:hover > img,
.product:hover > button {
  opacity: 0.9;
}

.product button {
  border: none;
  margin: 0;
  padding: 12px;
  color: white;
  background-color: #2f91b6;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.more-product-content {
  height: 100vh;
}

.footer {
  height: 313px;
  background: #566b78;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.fa-home {
  font-size: 1rem !important;
}
/*# sourceMappingURL=theme.css.map */