// Fonts and colors
$primary: #0000fa;
$accent: #f5f6fd;

$primaryColor: #f58220;
$navTab: #566b78;
$background: #fefefe;
$btn: #2f91b6;

// Flex Nav

@mixin navGrid {
  display: flex;
  flex-direction: row;
}

@mixin alignLeft {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

// Main

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.gutter {
  width: 60%;
  margin: auto;
  max-width: 60%;
}

.inner-gutter {
  width: 90%;
  margin: auto;
  max-width: 90%;
}

// Header

.upper-nav {
  height: 10vh;
}

.login-header {
  margin-bottom: 0px;
}

.menu-header {
  position: sticky;
  top: 0;
}

.login-items ul {
  @include alignLeft();
}

.login-items ul li {
  display: block;
  flex-grow: 1;
  text-align: center;
  line-height: 30px;
  background: #566b78;
  :hover {
    background: #45545e;
  }
}

.home-border {
  border-right: solid #fff 1px;
}

.login-items ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1rem;
  height: 100%;
  color: #fff;
}

.menu ul {
  @include navGrid();
}

.menu ul li {
  display: block;
  flex-grow: 1;
  text-align: center;
  line-height: 50px;
  background: $primaryColor;
  :hover {
    background: #df7416;
  }
}

.menu ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1rem;
  height: 100%;
  color: #fff;
}

.menu ul li a i {
  font-size: 0.6rem;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.logo-header {
  display: flex;
  align-items: center;
  height: 8vh;
}

.main-logo {
  width: 200px;
  height: auto;
}

// Search Bar

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

.container-input {
  display: flex;
  flex-direction: row;
  width: 100%;

  .search-term {
    max-width: 585px;
    width: 100%;
    background-color: white;
    border: 2px solid $primaryColor;
    border-right: none;
    color: $primaryColor;
    padding: 5px 5px 5px 25px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    -webkit-appearance: none;
    caret-color: $primaryColor;
    font-size: 20px;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &:focus {
      color: $primaryColor;
    }

    &::placeholder {
      color: #2f91b6;
      font-weight: italic;
    }
  }

  .search-button {
    width: 70px;
    height: auto;
    background: white;
    text-align: center;
    color: $primaryColor;
    border-radius: 0 5px 5px 0;
    border: 2px solid $primaryColor;
    cursor: pointer;
    font-size: 25px;
    border-left: none;
  }
}

// Phone Number

.phone {
  margin-right: 5px;
  :hover {
    color: $primaryColor;
  }
}

.phone a {
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  color: #45545e;
}

// Main Content

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// Product Grid

.product-content {
  background: $background;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 20px;
  border: solid rgba($color: #000000, $alpha: 0.2) 0.5px;
}

.product {
  padding: 10px;
}

.product button {
  border: none;
  margin: 0;
  padding: 12px;
  color: white;
  background-color: $btn;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

// More Product Content

.more-product-content {
  height: 100vh;
}

// Resources

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.fa-home {
  font-size: 1rem !important;
}
